@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*font-family: 'Oxygen', sans-serif;*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Stalemate', cursive;
	line-height:160%;
	background-image:url('../images/bg.png');
	background-color: #b0c9b4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:after,
.cf:before {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}
.wrapper {
	margin: 0 auto;
	width: 940px;
	position: relative;
}
.container {
	width: 980px;
	margin: 0 auto;
}
/* HEADER ----------------------------------------------------*/
#header {
	background-image: url('../images/ribbon.png');
	background-repeat:no-repeat;
	position: relative;
	height: 55px;
	margin: 45px 0 0 0;
}
#header h1 {
	text-indent: -99999em;
}
#header a img {
	display: block;
	float: left;
	position: relative;
	bottom: 40px;
}
#nav {
	display: block;
	float: right;
	position: relative;
	bottom: 40px;
}
#nav  li{
	float: left;
	margin-left: 30px;
	margin-right: 0;
	font-size: 16px;
	text-decoration: none;
}
#nav  li a{
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	color: #74593d;
}
#nav  li a:hover {
	color: #638368;
}
#nav  li a:active {
	color: #638368;
}


/* SECTIONS ----------------------------------------------------*/
/* Home Container ----------------------------------------------*/

.sections {
	clear: both;
	display:block;
	margin-left: 10% ;
	margin-right: 10% ;
	padding: 50px 0 0 20px;;
	width: 780px ;
	overflow: auto;
}
.sections li {
	display:block;
	float:left;
	width:250px;
	height:300px;
	margin:5px;
}
.sections li a {
	display: block;
	width: 214px;
	height: 199px;
	margin-bottom: 30px;
}
.sections h2{
	font-weight: bold;
	color: #638368;
	font-size: 33px;
	text-align: center;
}
#section1{
	background: url('../images/sections/section1.png') no-repeat;
	transform:rotate(-10deg);
	-ms-transform:rotate(-10deg); /* IE 9 */
	-webkit-transform:rotate(-10deg); /* Safari and Chrome */
}
#section2 {
	background: url('../images/sections/section1.png') no-repeat;
	transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
}
#section3 {
	background: url('../images/sections/section1.png') no-repeat ;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); /* IE 9 */
	-webkit-transform:rotate(15deg); /* Safari and Chrome */
}
#all{
    width:100%;
    float:left;
    text-align:center;
}
div.sub, iframe {
    width: 400px;
    height: 225px;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: -20px;
    background-color: #777;

}

/* Anasayfa Sections --------------------------------------------------*/

#fotograf{
	position: absolute;
	top: 55px;
	left:60px;
}
#video{
	position: absolute;
	top: 40px;
	left:60px;
}
#iletisim{
	position: absolute;
	top: 60px;
	left:65px;
}


/* Fotograf Sections --------------------------------------------------*/

#kisisel{
	position: absolute;
	top: 25px;
	left:48px;
}
#kisisel_2{
	position: absolute;
	top: 25px;
	left:48px;
}
#dugun{
	position: absolute;
	top: 45px;
	left:20px;
}
#mezuniyet{
	position: absolute;
	top: 40px;
	left:80px;
}


/* GALLERY ----------------------------------------------------*/

#imagescroller{
	display: block;
	width:80%;
    float: right;
	margin-bottom: 10px;
}
#imagescrollerOrta{
	display: block;
	width:100%;
    float: right;
	margin-bottom: 10px;
}
#left_nav{
	display: block;
	width:18%;
    float: left;
font-weight:bold;
	margin-bottom: 10px;
}
.left_nav_first{
	font-size: 18px;
	margin-bottom: 10px;
	font-family: arial; sans-serif;	
}
.left_nav_first a{
	text-decoration: none;
	color: #74593d;
}
.left_nav_first a:hover {
	color: #638368;
}
.left_nav_first a:active {
	color: #638368;
}
.left_nav_second li {
	padding-left: 20px;
	font-size: 15px;
}
#makeMeScrollable{
	width:100%;
	height: 470px;
	position: relative;
}          
#makeMeScrollable img{
	height: 470px;
}


/* FOOTER ----------------------------------------------------*/
    
#footer {
	clear: both;
	background: url('../images/ribbon2.png');
	background-repeat:no-repeat;
	height: 24px;
	position: fixed;
	bottom: 0px;
	width: 100%;
} 
#footer p {
	margin: 0 auto;
	text-align: center;
	font-size: 10px;
	font-family: arial, sans-serif;
	color: #444;
} 


/* SOCIAL ICONS ----------------------------------------------------*/
   
#social { 
	position: fixed;
	bottom: 20px;
	right: 20px;
	
}  
#socialkucuk { 
	position: fixed;
	bottom: -8px;
	right: 20px;
	
} 
#socialkucuk a {
	display: block;
	float: right;
	margin: -3px;
	
}   
#social a {
	display: block;
	float: right;
	margin: -7px;
	
}
#social a:hover {
	opacity: 0.6;
}
    
